$primaryColor: #b14a7b;
$secondColor: #2D8EFD;

@mixin flexCenter($direction, $wrap) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    flex-wrap: $wrap;
}