@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lato:ital,wght@0,300;0,700;1,400&display=swap');

//font-family: 'Inter', sans-serif;
//font-family: 'Lato', sans-serif;

@import "_variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}



div.site__container {
    width: 1300px;
    margin: 0 auto;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid grey;

    .logo {
        width: 15%;
        height: 100%;
        margin-left: 5%;

        a.logo__interactive {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../../imgs/logo_trycho_med.jpg');
            background-position: -100% 50%;
            background-repeat: no-repeat;
            background-size: 90%;
            font-size: 0;
        }
    }

    nav {
        width: 85%;
        height: 100%;
        z-index: 2;

        ul {
            list-style: none;
            width: 100%;
            height: 100%;
            text-align: end;
            font-size: 0px;

            li {
                display: inline-block;
                height: 100%;
                width: 20%;
                line-height: 10vh;
                text-align: center;
                background-color: #fff;



                &:last-of-type {
                    position: relative;


                    &:hover .contact__dropdown {
                        top: 100%;
                    }
                }


                .contact__dropdown {
                    position: absolute;
                    top: -100%;
                    left: 0;
                    background-color: #fff;
                    height: 200%;
                    width: 100%;
                    z-index: -1;
                    border-bottom: 2px solid $primaryColor;
                    transition: .5s;
                }

                a {
                    position: relative;
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-size: 28px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    height: 100%;
                    transition: .5s;

                    &::after {
                        // background: none repeat scroll 0 0 transparent;
                        bottom: -10%;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: $primaryColor;
                        transition: width 0.5s ease 0s, left 0.5s ease 0s;
                        width: 0;
                    }
                }

                &:hover a::after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

main.about__person {
    position: relative;
    height: 90vh;
    width: 100%;
    background-image: url(../../imgs/img__services/Sauna_ozonowa.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
    }

    div.introduction {
        @include flexCenter(column, wrap);
        height: 100%;
        min-width: 100%;


        h1 {
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            color: white;
            font-size: 5em;
            font-weight: 300;
            z-index: 2;
            margin-bottom: 2%;

            &:nth-of-type(2) {
                margin-bottom: 2%;
                font-size: 6em;
            }
        }

        h2 {
            font-size: 3em;
            color: white;
            z-index: 2;
            font-weight: 400;
        }
    }
}

#about__me {
    height: 100vh;
    width: 100%;
    @include flexCenter(column, nowrap);

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 6em;
        text-transform: uppercase;
        margin-top: 5%;
    }

    h3 {
        font-weight: 300;
        font-size: 4em;

        &::before {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }

    p {
        margin-top: auto;
        font-size: 2em;
        width: 60%;
        text-align: center;
        margin-bottom: 5%;

        &::after {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }
}

.problems__section {
    height: 150vh;
    width: 100%;

    .problems__header {
        height: 8vh;
        width: 100%;
        background-color: $primaryColor;
        border-bottom: 2px solid white;

        h2 {
            text-align: center;
            font-size: 4em;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            color: white;
            line-height: 8vh;
        }
    }

    .problems__container {
        position: relative;
        height: calc(100% - 8vh);
        width: 100%;
        background-image: url(../../imgs/fixed_hairsV2.jpg);
        background-size: contain;
        background-position: center;
        background-attachment: fixed;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0.2;
        }

        .problems__points {
            min-height: 80%;
            width: 100%;
            display: grid;
            grid-template: 1fr repeat(4, 20%) 1fr /1fr repeat(2, 40%) 1fr;

            .allPoints {
                position: relative;
                height: 100px;
                width: 100px;
                background-color: $secondColor;
                border: 2px solid white;
                align-self: center;
                z-index: 2;

                p {
                    position: absolute;
                    top: 50%;
                    left: 150%;
                    transform: translateY(-50%);
                    font-size: 1.5em;
                    font-weight: 600;
                    width: 300%;
                    color: white;
                    text-transform: uppercase;
                    z-index: 2;
                }
            }

            .problem__1 {
                grid-area: 2 / 2 / 3 / 3;
            }

            .problem__2 {
                grid-area: 2 / 3 / 3 / 4;
            }

            .problem__3 {
                grid-area: 3 / 2 / 4 / 3;
            }

            .problem__4 {
                grid-area: 3 / 3 / 4 / 4;
            }

            .problem__5 {
                grid-area: 4 / 2 / 5 / 3;
            }

            .problem__6 {
                grid-area: 4 / 3 / 5 / 4;
            }

            .problem__7 {
                grid-area: 5 / 2 / 6 / 3;
            }

            .problem__8 {
                grid-area: 5 / 3 / 6 / 4;
            }
        }

        .diseases {
            color: white;
            font-size: 2em;
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;

            p {
                text-align: center;
                width: 60%;
                z-index: 2;

            }
        }
    }
}