@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lato:ital,wght@0,300;0,700;1,400&display=swap');

//font-family: 'Inter', sans-serif;
//font-family: 'Lato', sans-serif;

@import "_variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


html {
    scroll-behavior: smooth;
}



div.site__container {
    max-width: 1300px;
    margin: 0 auto;
}

.popup__wrapper {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 1s;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .contact__popup {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: -1;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        box-shadow: 0 0 10px 3px #666;
        overflow: hidden;
        padding: 10px 10px;
        transition: width.5s .5s, height .5s, border-radius .5s .5s, background-color .5s 2.5s;

        .social__buttons {
            @include flexCenter(row, nowrap);
            justify-content: space-around;
            height: 20%;
            width: 100%;
            border-bottom: 2px solid gray;
            opacity: 0;
            transition: opacity .5s;

            a {
                display: block;
                width: 45px;
                height: 45px;
                background-color: $secondColor;
                border-radius: 50%;
                text-align: center;

                i {

                    line-height: 45px;
                    font-size: 26px;
                    color: white;
                }
            }
        }

        .contact__data {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 80%;
            width: 100%;
            opacity: 0;
            transition: opacity .5s;

            p {
                padding: 5px 5px;
                font-size: 22px;
            }

            i {
                padding: 20px 5px;
                font-size: 26px;
            }
        }

        .call__now {
            position: absolute;
            bottom: 5%;
            left: 5%;
            font-size: 26px;
        }
    }

    &:hover .contact__popup {
        width: 200px;
        height: 400px;
        border-radius: 20px 0px 20px 0px;
        transition: width.5s, height .5s .5s, border-radius .5s;
    }

    &:hover .contact__popup div:is(.social__buttons, .contact__data) {
        opacity: 1;
        transition: opacity .5s .5s;
    }

    &:hover .phone__popup {
        border-radius: 20px 0px 20px 0px;
        transition: border-radius .5s;

    }

    a {
        text-decoration: none;

        div.phone__popup {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 80px;
            background-color: $secondColor;
            border-radius: 50%;
            // visibility: hidden;
            // opacity: 0;
            transition: border-radius .5s .5s, opacity 1s;
            // transition: 1s;
            border: 1.5px solid white;
            border-bottom: none;
            border-right: none;

            i {
                display: inline-block;
                font-size: 2em;
                color: white;
                transition: .3s;
                transform: rotate(-270deg)
            }

        }
    }

}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid grey;

    .logo {
        width: 15%;
        height: 100%;
        margin-left: 5%;

        a.logo__interactive {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../../imgs/logo_trycho_med.jpg');
            background-position: -100% 50%;
            background-repeat: no-repeat;
            background-size: 90%;
            font-size: 0;
        }
    }

    div.small__menu {
        display: none;
    }

    nav.large__menu {
        width: 85%;
        height: 100%;
        z-index: 2;

        ul {
            list-style: none;
            width: 100%;
            height: 100%;
            text-align: end;
            font-size: 0px;

            li {
                display: inline-block;
                height: 100%;
                width: 20%;
                line-height: 10vh;
                text-align: center;
                background-color: #fff;


                a {
                    position: relative;
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-size: 28px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 400;
                    height: 100%;
                    transition: .5s;

                    &::after {
                        // background: none repeat scroll 0 0 transparent;
                        bottom: -10%;
                        content: "";
                        display: block;
                        height: 2px;
                        left: 50%;
                        position: absolute;
                        background: $primaryColor;
                        transition: width 0.5s ease 0s, left 0.5s ease 0s;
                        width: 0;
                    }
                }

                &:hover a::after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

main.about__person {
    position: relative;
    height: 90vh;
    width: 100%;
    background-image: url(../../imgs/img__services/Sauna_ozonowa.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
    }

    div.introduction {
        @include flexCenter(column, wrap);
        height: 100%;
        min-width: 100%;


        h1 {
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            color: white;
            font-size: 5em;
            font-weight: 300;
            z-index: 2;
            margin-bottom: 2%;

            &:nth-of-type(2) {
                margin-bottom: 2%;
                font-size: 6em;
            }
        }

        h2 {
            font-size: 3em;
            color: white;
            z-index: 2;
            font-weight: 400;
        }
    }
}

#about__me {
    height: 100vh;
    width: 100%;
    @include flexCenter(column, nowrap);

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 6em;
        text-transform: uppercase;
        margin-top: 5%;
    }

    h3 {
        font-weight: 300;
        font-size: 4em;

        &::before {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }

    p {
        margin-top: auto;
        font-size: 2em;
        width: 60%;
        text-align: center;
        margin-bottom: 5%;

        &::after {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }
}

.problems__section {
    height: 150vh;
    width: 100%;

    .problems__header {
        height: 8vh;
        width: 100%;
        background-color: $primaryColor;
        border-bottom: 2px solid white;

        h2 {
            text-align: center;
            font-size: 4em;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            color: white;
            line-height: 8vh;
        }
    }

    .problems__container {
        position: relative;
        height: calc(100% - 8vh);
        width: 100%;
        background-image: url(../../imgs/fixed_hairsV2.jpg);
        background-size: contain;
        background-position: center;
        background-attachment: fixed;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 100%;
            background-color: #000;
            opacity: 0.2;
        }

        .problems__points {
            min-height: 80%;
            width: 100%;
            display: grid;
            grid-template: 1fr repeat(4, 20%) 1fr /1fr repeat(2, 40%) 1fr;

            .allPoints {
                position: relative;
                height: 100px;
                width: 100px;
                background-color: $secondColor;
                border: 2px solid white;
                align-self: center;
                z-index: 2;

                p {
                    position: absolute;
                    top: 50%;
                    left: 150%;
                    transform: translateY(-50%);
                    font-size: 1.5em;
                    font-weight: 600;
                    width: 300%;
                    color: white;
                    text-transform: uppercase;
                    z-index: 2;
                }
            }

            .problem__1 {
                grid-area: 2 / 2 / 3 / 3;
            }

            .problem__2 {
                grid-area: 2 / 3 / 3 / 4;
            }

            .problem__3 {
                grid-area: 3 / 2 / 4 / 3;
            }

            .problem__4 {
                grid-area: 3 / 3 / 4 / 4;
            }

            .problem__5 {
                grid-area: 4 / 2 / 5 / 3;
            }

            .problem__6 {
                grid-area: 4 / 3 / 5 / 4;
            }

            .problem__7 {
                grid-area: 5 / 2 / 6 / 3;
            }

            .problem__8 {
                grid-area: 5 / 3 / 6 / 4;
            }
        }

        .diseases {
            color: white;
            font-size: 2em;
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: center;

            p {
                text-align: center;
                width: 60%;
                z-index: 2;

            }
        }
    }
}

section#offer {
    position: relative;
    height: 80vh;
    width: 100%;

    .offer__header {
        width: 100%;
        height: 10%;
        background-color: $primaryColor;
        margin-top: 3px;
        margin-bottom: 3px;

        h2 {
            font-size: 3em;
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            color: white;
            text-align: center;
            line-height: 8vh;
        }
    }

    .carousel {
        width: 100%;
        height: 90%;

        .carousel__images-container {
            width: 100%;
            height: 100%;
            overflow: hidden;


            ul.carousel__images {
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;


                .carousel__slide {
                    min-width: 100%;
                    height: 100%;
                    position: relative;

                    h3 {
                        position: absolute;
                        top: 10%;
                        left: 50%;
                        width: 80%;
                        transform: translate(-50%, - 50%);
                        color: white;
                        font-family: 'Inter', sans-serif;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 4em;
                        text-align: center;
                        z-index: 2;
                    }

                    .carousel__slide__list__container {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, - 50%);
                        width: 80%;
                        height: 70%;
                        z-index: 2;

                        ul {
                            display: inline-block;
                            color: white;
                            list-style: disc;

                            li {
                                margin-top: 20px;
                                margin-left: 1em;
                                font-size: 2em;
                            }
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: #000;
                        opacity: 0.2;
                    }
                }

                .sauna__ozonowa {

                    ::after {
                        opacity: 0.4;
                    }
                }

                .infuzja__tlenowa,
                .prady__dersnoval,
                .mezoteriapia__iglowa,
                .zabiegi__lodyga {

                    img {
                        object-fit: cover;
                        object-position: -50% 100%;
                    }

                    &::after {
                        opacity: 0.3;
                    }
                }
            }
        }

        .carousel__button {
            position: absolute;
            top: 50%;
            font-size: 3em;
            color: white;
            transition: .2s;

            @media (min-width: 900px) {
                &:hover {
                    color: $secondColor;
                }
            }

            i.fa-chevron-left {
                filter: drop-shadow(1px 0px 3px black);
            }

            i.fa-chevron-right {
                filter: drop-shadow(-1px 0px 3px black);
            }
        }

        .carousel__button__right {
            right: 0;
            margin-right: 20px;
            cursor: pointer;
        }

        .carousel__button__left {
            left: 0;
            margin-left: 20px;
            cursor: pointer;
        }

    }

    .carousel__nav {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.6;

        .carousel__image__indicator {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.8);
            border: 1.5px solid white;
            margin: 0 20px;
            filter: drop-shadow(-1px 1px 4px black);
            cursor: pointer;
        }

        .carousel__image__indicator.current {
            background-color: $secondColor;
            ;
        }
    }
}

section.first__visit {
    height: 100vh;
    width: 100%;
    @include flexCenter(column, nowrap);

    h2 {
        font-family: 'Inter', sans-serif;
        text-align: center;
        font-weight: 300;
        font-size: 4em;
        text-transform: uppercase;
        margin-top: 5%;

        &::after {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }

    p {
        margin-top: auto;
        font-size: 2em;
        width: 60%;
        text-align: center;

        &:nth-of-type(2) {
            margin-bottom: 3%;
        }

        &:nth-of-type(2):after {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }
}

footer {
    width: 100%;

    .contact__header {
        height: 8vh;
        width: 100%;
        background-color: $primaryColor;
        border-bottom: 3px solid white;

        h2 {
            font-family: 'Inter', sans-serif;
            text-align: center;
            line-height: 8vh;
            font-size: 3em;
            font-weight: 300;
            text-transform: uppercase;
            color: white;
        }
    }

    .contact__container {
        display: flex;
        justify-content: space-around;
        height: 30vh;
        width: 100%;
        background-color: $primaryColor;
    }

    .contact__info {
        display: grid;
        grid-template: 20% 1fr 1fr / 20% 1fr;
        width: 20%;
        height: 100%;

        h3 {
            align-self: flex-end;
            grid-area: 1/ 1 / 2 / 3;
            color: white;
            font-size: 2em;
            font-weight: 400;
        }

        i.fa-home {
            align-self: center;
            grid-area: 2 / 1 / 3 / 2;
            color: white;
            font-size: 2em;
        }

        p.home {
            align-self: center;
            grid-area: 2 / 2 / 3 / 3;
            color: white;
            font-size: 1.3em;
        }

        i.fa-phone {
            grid-area: 3 / 1 / 4 / 2;
            color: white;
            font-size: 2em;
        }

        p.phone {
            grid-area: 3 / 2 / 4 / 3;
            color: white;
            font-size: 1.3em;
        }
    }

    .media {
        display: grid;
        grid-template: 20% 1fr 1fr / 20% 1fr;
        width: 20%;
        height: 100%;

        h3 {
            align-self: flex-end;
            grid-area: 1/ 1 / 2 / 3;
            color: white;
            font-size: 2em;
            font-weight: 400;
        }

        i.fa-facebook-square {
            align-self: center;
            grid-area: 2 / 1 / 3 / 2;
            color: white;
            font-size: 2em;
        }

        p.facebook {
            align-self: center;
            grid-area: 2 / 2 / 3 / 3;
            color: white;
            font-size: 1.3em;
        }

        i.fa-envelope {
            grid-area: 3 / 1 / 4 / 2;
            color: white;
            font-size: 2em
        }

        p.email {
            grid-area: 3 / 2 / 4 / 3;
            color: white;
            font-size: 1em;
        }
    }

    .question__form {
        display: grid;
        grid-template: 20% 1fr/ 1fr;
        width: 25%;
        height: 100%;

        h3 {
            grid-area: 1 / 1 / 2 / 2;
            align-self: flex-end;
            color: white;
            font-size: 2em;
            font-weight: 400;
        }

        form {
            position: relative;
            display: grid;
            grid-template: 10% 1fr 10%/ 1fr 1fr;
            width: 100%;
            height: 80%;


            .user__name__input {
                justify-self: flex-start;
                grid-area: 1 / 1 / 2 / 2;
                width: 98%;
                height: 100%;
                border: 1px solid black;
                outline: none;


                &::-webkit-input-placeholder {
                    font-size: 1.2em;
                }
            }

            .user__email__input {
                justify-self: flex-start;
                grid-area: 1 / 2 / 2 / 3;
                width: 100%;
                height: 100%;
                border: 1px solid black;
                outline: none;

                &::-webkit-input-placeholder {
                    font-size: 1.2em;
                }
            }

            label[for=user__message] {
                grid-area: 2 / 1 / 4 / 3;
                align-self: center;
                width: 100%;
                height: 95%;



                textarea {
                    width: 100%;
                    height: 100%;
                    outline: none;
                    resize: none;

                    &:focus {
                        border: 1px solid black;
                    }

                    &::-webkit-input-placeholder {
                        font-size: 1.2em;
                    }
                }
            }

            .email__button {
                position: absolute;
                bottom: 2.5%;
                right: 0;
                width: 30%;
                justify-self: center;
                outline: none;
                font-size: 1.1em;
                text-transform: uppercase;
                border: 1px solid $primaryColor;

                &:hover {
                    background-color: $secondColor;
                    color: white;
                }
            }
        }
    }

    .map {
        display: grid;
        grid-template: 20% 1fr 30% / 1fr;
        width: 25%;
        height: 100%;

        h3 {
            grid-area: 1 / 1 / 2 / 2;
            align-self: flex-end;
            color: white;
            font-size: 2em;
            font-weight: 400;
        }

        .google_map {
            grid-area: 2 / 1 / 4 / 2;
            width: 100%;
            height: 80%;
        }
    }

    .copy {
        position: relative;
        height: 5vh;
        width: 100%;
        background-color: $primaryColor;
        display: flex;
        justify-content: flex-end;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-color: #000;
            height: 100%;
            width: 100%;
            opacity: 0.5;
        }

        h2 {
            line-height: 5vh;
            margin-right: 5%;
            color: white;
            font-size: .8em;
            z-index: 2;
        }

        p {
            line-height: 5vh;
            text-align: end;
            margin-right: 5%;
            color: white;
            font-size: .8em;
            z-index: 2;
        }
    }
}