main.about__person {
    position: relative;
    height: 90vh;
    width: 100%;
    background-image: url(../../../imgs/img__services/Sauna_ozonowa.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
    }

    div.introduction {
        @include flexCenter(column, wrap);
        height: 100%;
        min-width: 100%;


        h1 {
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            color: white;
            font-size: 5em;
            font-weight: 300;
            z-index: 2;
            margin-bottom: 2%;

            &:nth-of-type(2) {
                margin-bottom: 2%;
                font-size: 6em;
            }
        }

        h2 {
            font-size: 3em;
            color: white;
            z-index: 2;
            font-weight: 400;
        }
    }
}

@media (orientation: portrait) and (min-width:20em) {
    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 2em;

                &:nth-of-type(2) {
                    font-size: 1.5em;
                }
            }

            h2 {
                font-size: 1em;
            }
        }
    }

}

@media (orientation: portrait) and (min-width:22.5em) {

    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 2.5em;

                &:nth-of-type(2) {
                    font-size: 1.7em;
                }
            }

            h2 {
                font-size: 1.3em;
            }
        }
    }

}

@media (orientation:portrait) and (min-width:30em) {

    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 3em;

                &:nth-of-type(2) {
                    font-size: 2.2em;
                }
            }

            h2 {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width:40em) and (max-width:64em) {}

//Landscape orientation

@media (orientation:landscape) and (min-width:30em) and (max-width:50em) {
    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 2.5em;

                &:nth-of-type(2) {
                    font-size: 2em;
                }
            }

            h2 {
                font-size: 1.5em;
            }
        }
    }

}

@media (orientation:landscape) and (min-width:50.1em) and (max-width:63.9em) {

    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 3em;

                &:nth-of-type(2) {
                    font-size: 2.5em;
                }
            }

            h2 {
                font-size: 1.5em;
            }
        }
    }

}

@media (orientation: landscape) and (min-width:64em) and (max-width:70em) {

    main.about__person {

        div.introduction {

            h1 {
                font-size: 4em;

                &:nth-of-type(2) {
                    font-size: 4.5em;
                }
            }

            h2 {
                font-size: 2.5em;
            }
        }
    }

}

@media (orientation: landscape) and (min-width:70em) and (max-width:81.25em) {

    main.about__person {

        div.introduction {

            h1 {
                font-size: 4em;

                &:nth-of-type(2) {
                    font-size: 4.5em;
                }
            }

            h2 {
                font-size: 2.5em;
            }
        }
    }

}