#about__me {
    height: auto;
    width: 100%;
    @include flexCenter(column, nowrap);

    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 6em;
        text-transform: uppercase;
        margin-top: 5%;
    }

    h3 {
        font-weight: 300;
        font-size: 4em;

        &::before {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }

    p {
        margin-top: auto;
        font-size: 2em;
        width: 60%;
        text-align: center;
        margin-bottom: 5%;

        &::after {
            content: "";
            display: block;
            height: 5px;
            width: 600px;
            margin: 3% auto;
            background-color: $primaryColor;
        }
    }
}

@media (orientation: portrait) and (min-width:20em) {

    #about__me {
        text-align: center;
        height: auto;

        h2 {
            font-size: 1.5em;
            margin-top: 3%;
        }

        h3 {
            font-size: 1.2em;

            &::before {
                margin: 3% auto;
                height: 2px;
                width: 250px;
            }
        }

        p {
            margin-top: 5%;
            font-size: 0.7em;
            width: 90%;
            margin-bottom: 2%;
            line-height: 120%;

            &::after {
                height: 2px;
                width: 250px;
                margin: 3% auto;
            }
        }
    }
}


@media (orientation: portrait) and (min-width:22.5em) {

    #about__me {

        h2 {
            font-size: 2.5em;
        }

        h3 {
            font-size: 1.5em;

            &::before {
                width: 350px;
            }
        }

        p {
            font-size: 1em;
            width: 85%;

            &::after {
                height: 2px;
                width: 350px;
                margin: 5% auto;
            }
        }
    }
}

@media (orientation:portrait) and (min-width:30em) {

    #about__me {

        h2 {
            font-size: 3.5em;
        }

        h3 {
            font-size: 2.5em;

            &::before {
                width: 350px;
            }
        }

        p {
            font-size: 2em;
            width: 85%;

            &::after {
                height: 2px;
                width: 350px;
                margin: 5% auto;
            }
        }
    }
}

//Landscape orientation

@media (orientation:landscape) and (min-width:30em) {

    #about__me {
        text-align: center;
        height: auto;

        h2 {
            font-size: 2.5em;
            margin-top: 3%;
        }

        h3 {
            font-size: 2em;

            &::before {
                margin: 3% auto;
                height: 2px;
                width: 250px;
            }
        }

        p {
            margin-top: 5%;
            font-size: 1.5em;
            width: 75%;
            margin-bottom: 2%;
            line-height: 120%;

            &::after {
                height: 2px;
                width: 250px;
                margin: 3% auto;
            }
        }
    }

}

@media (orientation:landscape) and (min-width:50.1em) and (max-width:63.9em) {

    #about__me {

        h2 {
            font-size: 3em;
        }

        h3 {
            font-size: 2.5em;

        }

        p {
            font-size: 1.7em;

            &::after {
                height: 2px;
                width: 250px;
                margin: 3% auto;
            }
        }
    }

}

@media (orientation: landscape) and (min-width:64em) and (max-width:90em) {

    #about__me {
        height: auto;
        width: 100%;
        @include flexCenter(column, nowrap);

        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            font-size: 4em;
            text-transform: uppercase;
            margin-top: 5%;
        }

        h3 {
            font-weight: 300;
            font-size: 3em;

            &::before {
                content: "";
                display: block;
                height: 5px;
                width: 700px;
            }
        }

        p {
            margin-top: 3%;
            font-size: 1.5em;
            margin-bottom: 5%;

            &::after {
                content: "";
                display: block;
                height: 5px;
                width: 700px;
                margin: 3% auto;
                background-color: $primaryColor;
            }
        }
    }

}

@media (orientation: landscape) and (min-width:70em) and (max-width:81.25em) {

    #about__me {


        p {
            margin-top: 3%;
            font-size: 1.7em;
            margin-bottom: 5%;
        }
    }

}