main.about__person {
    position: relative;
    height: 90vh;
    width: 100%;
    background-image: url(../../../imgs/img__services/Sauna_ozonowa.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
    }

    div.introduction {
        @include flexCenter(column, wrap);
        height: 100%;
        min-width: 100%;


        h1 {
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            color: white;
            font-size: 5em;
            font-weight: 300;
            z-index: 2;
            margin-bottom: 2%;

            &:nth-of-type(2) {
                margin-bottom: 2%;
                font-size: 6em;
            }
        }

        h2 {
            font-size: 3em;
            color: white;
            z-index: 2;
            font-weight: 400;
        }
    }
}

@media (orientation: portrait) and (min-width:320px) {
    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 2em;

                &:nth-of-type(2) {
                    font-size: 1.5em;
                }
            }

            h2 {
                font-size: 1em;
            }
        }
    }


    #about__me {
        text-align: center;
        height: auto;

        h2 {
            font-size: 1.5em;
            margin-top: 3%;
        }

        h3 {
            font-size: 1.2em;

            &::before {
                margin: 3% auto;
                height: 2px;
                width: 250px;
            }
        }

        p {
            margin-top: 5%;
            font-size: 0.7em;
            width: 90%;
            margin-bottom: 2%;
            line-height: 120%;

            &::after {
                height: 2px;
                width: 250px;
                margin: 3% auto;
            }
        }
    }

}

@media (orientation: portrait) and (min-width:360px) {

    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 2.5em;

                &:nth-of-type(2) {
                    font-size: 1.7em;
                }
            }

            h2 {
                font-size: 1.3em;
            }
        }
    }

}

@media (orientation:portrait) and (min-width:481px) {

    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 4em;

                &:nth-of-type(2) {
                    font-size: 3.5em;
                }
            }

            h2 {
                font-size: 2em;
            }
        }
    }
}