@import "../Main_page/variables";

@media (min-width:320px) and (max-width: 533px) {


    div.site__container {
        width: 100%;
        margin: 0;
        overflow: hidden;
        // min-height: 600vh;
    }


    .popup__wrapper {
        position: fixed;
        bottom: 40px;
        right: 40px;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 1s;
        display: none;

        &.active {
            visibility: visible;
            opacity: 1;
        }

        .contact__popup {
            position: absolute;
            bottom: 0px;
            right: 0px;
            z-index: -1;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            box-shadow: 0 0 10px 3px #666;
            overflow: hidden;
            padding: 10px 10px;
            transition: width.5s .5s, height .5s, border-radius .5s .5s, background-color .5s 2.5s;

            .social__buttons {
                @include flexCenter(row, nowrap);
                justify-content: space-around;
                height: 20%;
                width: 100%;
                border-bottom: 2px solid gray;
                opacity: 0;
                transition: opacity .5s;

                a {
                    display: block;
                    width: 45px;
                    height: 45px;
                    background-color: $secondColor;
                    border-radius: 50%;
                    text-align: center;

                    i {

                        line-height: 45px;
                        font-size: 26px;
                        color: white;
                    }
                }
            }

            .contact__data {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 80%;
                width: 100%;
                opacity: 0;
                transition: opacity .5s;

                p {
                    padding: 5px 5px;
                    font-size: 22px;
                }

                i {
                    padding: 20px 5px;
                    font-size: 26px;
                }
            }

            .call__now {
                position: absolute;
                bottom: 5%;
                left: 5%;
                font-size: 26px;
            }
        }

        &:hover .contact__popup {
            width: 200px;
            height: 400px;
            border-radius: 20px 0px 20px 0px;
            transition: width.5s, height .5s .5s, border-radius .5s;
        }

        &:hover .contact__popup div:is(.social__buttons, .contact__data) {
            opacity: 1;
            transition: opacity .5s .5s;
        }

        &:hover .phone__popup {
            border-radius: 20px 0px 20px 0px;
            transition: border-radius .5s;

        }

        a {
            text-decoration: none;

            div.phone__popup {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
                width: 80px;
                background-color: $secondColor;
                border-radius: 50%;
                // visibility: hidden;
                // opacity: 0;
                transition: border-radius .5s .5s, opacity 1s;
                // transition: 1s;
                border: 1.5px solid white;
                border-bottom: none;
                border-right: none;

                i {
                    display: inline-block;
                    font-size: 2em;
                    color: white;
                    transition: .3s;
                    transform: rotate(-270deg)
                }

            }
        }

    }

    header {
        justify-content: center;
        height: 20vh;
        position: relative;


        .logo {
            width: 60%;
            margin-left: 0%;

            a.logo__interactive {
                background-position: 50% 50%;
                background-size: 100%;
            }
        }

        div.small__menu {
            display: block;


            .ham__menu {
                position: absolute;
                display: flex;
                align-items: center;
                top: 15px;
                right: 15px;
                height: 20px;
                width: 15px;
                z-index: 22;
                // border: 2px solid black;

                span {
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: #000;
                    border-radius: 5px;
                    transition: all .5s ease-in-out;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background-color: #000;
                        border-radius: 5px;
                        transition: all .5s ease-in-out;
                    }

                    &::before {
                        transform: translateY(-5px);
                    }

                    &::after {
                        transform: translateY(5px);
                    }
                }

                &.active span {
                    transform: translateX(-35px);
                    background: transparent;
                }

                &.active span::before {
                    transform: rotate(45deg) translate(25px, -25px);
                }

                &.active span::after {
                    transform: rotate(-45deg) translate(25px, 25px);
                }
            }
        }

        .side__menu {
            position: absolute;
            top: 0;
            left: 100%;
            height: 100vh;
            width: 100%;
            background-color: #fff;
            z-index: 12;
            transition: .5s ease-in-out;

            &.active {
                left: 0;
            }

            .side__menu__header {
                display: flex;
                justify-content: center;
                height: 20vh;
                width: 100%;
                border-bottom: 1px solid #333;

                .logo {
                    width: 60%;
                    margin-left: 0%;

                    a.logo__interactive {
                        background-position: 50% 50%;
                        background-size: 100%;
                    }
                }
            }

            nav {
                display: flex;
                justify-content: center;
                height: 60vh;
                margin-top: 5%;

                ul {
                    height: 100%;
                    list-style: none;

                    li {
                        height: 20%;
                        text-align: center;

                        a {
                            text-decoration: none;
                            font-size: 26px;
                            text-transform: uppercase;
                            color: black;
                        }
                    }
                }
            }

            .social__buttons {
                @include flexCenter(row, nowrap);
                justify-content: space-around;
                width: 100%;
                height: 10%;
                margin-top: 2.5%;

                a {
                    display: block;
                    width: 45px;
                    height: 45px;
                    background-color: $secondColor;
                    border-radius: 50%;
                    text-align: center;

                    i {
                        line-height: 45px;
                        font-size: 24px;
                        color: #fff;
                    }
                }
            }
        }
    }

    nav.large__menu {
        display: none;
    }

    main.about__person {
        background-position: 80%;

        div.introduction {

            h1 {
                font-size: 2em;

                &:nth-of-type(2) {
                    font-size: 1.5em;
                }
            }

            h2 {
                font-size: 1em;
            }
        }
    }


    #about__me {
        text-align: center;
        height: auto;

        h2 {
            font-size: 1.5em;
            margin-top: 3%;
        }

        h3 {
            font-size: 1.2em;

            &::before {
                margin: 3% auto;
                height: 2px;
                width: 250px;
            }
        }

        p {
            margin-top: 5%;
            font-size: 0.7em;
            width: 90%;
            margin-bottom: 2%;
            line-height: 120%;

            &::after {
                height: 2px;
                width: 250px;
                margin: 3% auto;
            }
        }
    }


    .problems__section {
        height: 100vh;

        .problems__header {
            height: 8vh;

            h2 {
                font-size: 1.5em;
            }
        }

        .problems__container {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 60% 0;

            .problems__points {
                min-height: 70%;

                .allPoints {
                    height: 40px;
                    width: 40px;

                    p {
                        left: 120%;
                        font-size: .6em;
                        font-weight: 700;
                        width: 100%;
                    }
                }
            }

            .diseases {
                font-size: 1em;

                p {
                    width: 90%;
                    margin-bottom: 5%;

                }
            }
        }
    }

    section#offer {

        .offer__header {

            h2 {
                font-size: 2em;
            }
        }

        .carousel {

            .carousel__images-container {

                ul.carousel__images {

                    .carousel__slide {

                        h3 {
                            font-size: 1.5em;
                        }

                        .carousel__slide__list__container {


                            ul {

                                li {
                                    margin-top: 15px;
                                    font-size: .8em;
                                }
                            }
                        }
                    }

                    .sauna__ozonowa {

                        img {
                            object-fit: auto;
                            width: 100%;
                            height: 100%;
                            object-position: 80% 0%;
                        }
                    }

                    .peeling__glowy {

                        img {
                            object-position: 30% 0%;
                        }
                    }

                    .infuzja__tlenowa,
                    .prady__dersnoval,
                    .mezoteriapia__iglowa,
                    .zabiegi__lodyga {

                        img {
                            object-fit: auto;
                            width: 100%;
                            height: 100%;
                            object-position: 50% 0%;
                        }
                    }

                    .zabiegi__lodyga {
                        img {
                            object-position: 20% 0%;
                        }
                    }

                    .mezoterapia__drCyj {
                        img {
                            object-position: 10% 0%;
                        }
                    }
                }
            }

            .carousel__button {
                font-size: 1em;

                i.fa-chevron-left {
                    filter: drop-shadow(1px 0px 2px black);
                }

                i.fa-chevron-right {
                    filter: drop-shadow(-1px 0px 2px black);
                }
            }

            .carousel__button__right {
                right: 0;
                margin-right: 10px;
                cursor: pointer;
            }

            .carousel__button__left {
                left: 0;
                margin-left: 10px;
                cursor: pointer;
            }

        }

        .carousel__nav {

            .carousel__image__indicator {
                width: 8px;
                height: 8px;
                border: 1px solid white;
                margin: 0 12px;
            }
        }
    }


    section.first__visit {
        height: auto;

        h2 {
            font-size: 1.5em;

            &::after {
                height: 2px;
                width: 250px;
            }
        }

        p {
            font-size: .7em;
            width: 90%;

            &:nth-of-type(2):after {
                height: 2px;
                width: 250px;
            }
        }
    }

    footer {

        .contact__header {


            h2 {
                font-size: 1.5em;
            }
        }

        .contact__container {
            height: 20vh;
        }

        .contact__info {
            margin-top: 3%;
            width: 45%;
            height: 100%;
            margin-left: 2.5%;


            h3 {
                align-self: flex-end;
                grid-area: 1/ 1 / 2 / 3;
                color: white;
                font-size: 1.2em;
                font-weight: 400;
                // justify-self: center;
            }

            i.fa-home {
                font-size: 1em;
            }

            p.home {
                font-size: .8em;
            }

            i.fa-phone {
                grid-area: 3 / 1 / 4 / 2;
                color: white;
                font-size: 1em;
            }

            p.phone {
                grid-area: 3 / 2 / 4 / 3;
                color: white;
                font-size: .8em;
            }
        }

        .media {
            width: 45%;
            margin-top: 3%;
            margin-right: 2.5%;

            h3 {
                font-size: 1.2em;

            }

            i.fa-facebook-square {
                font-size: 1em;
            }

            p.facebook {
                font-size: .8em;
            }

            i.fa-envelope {
                font-size: 1em
            }

            p.email {
                font-size: .6em;
            }
        }

        .question__form {
            display: grid;
            grid-template: 20% 1fr/ 1fr;
            width: 25%;
            height: 100%;
            display: none;

            h3 {
                grid-area: 1 / 1 / 2 / 2;
                align-self: flex-end;
                color: white;
                font-size: 2em;
                font-weight: 400;
            }

            form {
                position: relative;
                display: grid;
                grid-template: 10% 1fr 10%/ 1fr 1fr;
                width: 100%;
                height: 80%;


                .user__name__input {
                    justify-self: flex-start;
                    grid-area: 1 / 1 / 2 / 2;
                    width: 98%;
                    height: 100%;
                    border: 1px solid black;
                    outline: none;


                    &::-webkit-input-placeholder {
                        font-size: 1.2em;
                    }
                }

                .user__email__input {
                    justify-self: flex-start;
                    grid-area: 1 / 2 / 2 / 3;
                    width: 100%;
                    height: 100%;
                    border: 1px solid black;
                    outline: none;

                    &::-webkit-input-placeholder {
                        font-size: 1.2em;
                    }
                }

                label[for=user__message] {
                    grid-area: 2 / 1 / 4 / 3;
                    align-self: center;
                    width: 100%;
                    height: 95%;



                    textarea {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        resize: none;

                        &:focus {
                            border: 1px solid black;
                        }

                        &::-webkit-input-placeholder {
                            font-size: 1.2em;
                        }
                    }
                }

                .email__button {
                    position: absolute;
                    bottom: 2.5%;
                    right: 0;
                    width: 30%;
                    justify-self: center;
                    outline: none;
                    font-size: 1.1em;
                    text-transform: uppercase;
                    border: 1px solid $primaryColor;

                    &:hover {
                        background-color: $secondColor;
                        color: white;
                    }
                }
            }
        }

        .map {
            display: grid;
            grid-template: 20% 1fr 30% / 1fr;
            width: 25%;
            height: 100%;
            display: none;

            h3 {
                grid-area: 1 / 1 / 2 / 2;
                align-self: flex-end;
                color: white;
                font-size: 2em;
                font-weight: 400;
            }

            .google_map {
                grid-area: 2 / 1 / 4 / 2;
                width: 100%;
                height: 80%;
            }
        }

        .copy {
            height: 5vh;

            h2 {
                line-height: 5vh;
                margin-right: 5%;
                color: white;
                font-size: .4em;
                z-index: 2;
            }

            p {
                line-height: 5vh;
                text-align: end;
                margin-right: 5%;
                color: white;
                font-size: .3em;
                z-index: 2;
            }
        }
    }
}